<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="Default"/>

	<f:section name="MainContent">
		<f:render partial="FormResults/Result/Pdf/Header" arguments="{_all}" />
		<f:render partial="FormResults/Result/Pdf/Heading" arguments="{_all}" />
		<f:render partial="FormResults/Result/Pdf/Table" arguments="{_all}" />
		<f:render partial="FormResults/Result/Pdf/Footer" arguments="{_all}" />
	</f:section>
</html>
