<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="MainContent">
	<h1>
		<f:translate key="LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.headline"/>
	</h1>

	<form class="mb-2" action="{f:uri.action(action:'index')}" method="POST">
		<div class="mb-2">
			<label for="search" class="form-label">{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.do_search')}</label>
			<input type="text" class="form-control" id="search" name="tx_form_to_database[search]" aria-describedby="emailHelp" value="{searchKey}">
		</div>
		<button type="submit" class="btn btn-primary">{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:index.search_button')}</button>
	</form>

	<f:if condition="{forms}">
		<f:then>
			<f:render partial="FormResults/Index/Results" arguments="{_all}"/>
		</f:then>
		<f:else>
			<f:variable name="label_notFoundTitle"
						value="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.forms_not_found.title')}"/>
			<f:if condition="!{label_notFoundTitle}">
				<f:variable name="label_notFoundTitle"
							value="{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:formManager.forms_not_found.title')}"/>
			</f:if>

			<f:variable name="label_notFoundMessage"
						value="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.forms_not_found.message')}"/>
			<f:if condition="!{label_notFoundMessage}">
				<f:variable name="label_notFoundMessage"
							value="{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:formManager.forms_not_found.message')}"/>
			</f:if>

			<f:be.infobox state="-1" title="{label_notFoundTitle}">
				<p>{label_notFoundMessage}</p>
			</f:be.infobox>
		</f:else>
	</f:if>
	<f:if condition="{deletedForms}">
		<f:render partial="FormResults/Index/DeletedResults" arguments="{forms: deletedForms, extConf: extConf}"/>
	</f:if>
	<f:render partial="FormResults/Index/Footer" arguments="{_all}"/>
</f:section>
</html>
