<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="Default"/>

	<f:section name="MainContent">
		<f:render partial="FormResults/Result/Heading" arguments="{_all}" />
		<f:render partial="FormResults/Result/Actions" arguments="{_all}" />
		<f:render partial="FormResults/Result/Table" arguments="{_all}" />
	</f:section>
</html>
