<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="hide-print pull-right form-group">
		<f:if condition="{hasPdfAbility}">
			<f:link.action action="downloadResultPdf" arguments="{uid: formResult.uid}" class="btn btn-default">
				<core:icon identifier="mimetypes-pdf" />
				{f:translate(key: 'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.download_pdf')}
			</f:link.action>
		</f:if>
	</div>
</html>
