<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	xmlns:ftdb="http://typo3.org/ns/Lavitto/FormToDatabase/ViewHelpers" data-namespace-typo3-fluid="true">

	<div class="table-fit" id="printableArea">
		<table class="table table-striped table-hover">
			<f:for each="{formRenderables}" as="renderable">
				<tr>
					<th class="col-word-break">
						{renderable.label}
					</th>
					<td>
						<f:format.raw>
							<ftdb:formValue value="{renderable.identifier}" results="{formResult.resultAsArray}"
								element="{renderable}" crop="false" />
						</f:format.raw>
					</td>
				</tr>
			</f:for>
		</table>
	</div>
</html>
