<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:ftdb="http://typo3.org/ns/Lavitto/FormToDatabase/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:variable name="isNew"><f:if condition="{f:format.date(date: formResult.crdate, format:'U')} > {lastView}">1</f:if></f:variable>
<tr>
	<f:if condition="{newDataExists}">
		<td><f:if condition="{isNew}">&nbsp;
			<core:icon identifier="actions-dot"/>
		</f:if></td>
	</f:if>
	<td>
		<f:link.action action="result" arguments="{uid: formResult.uid}"
		title="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.edit_form')}">
			{formResult.crdate -> f:format.date(format: '{dateFormat} {timeFormat}')}
		</f:link.action>
	</td>
	<f:for each="{formRenderables}" as="renderable">
		<f:if condition="{renderable.renderingOptions.listView}">
			<td>
				<f:format.raw>
					<ftdb:formValue value="{renderable.identifier}" results="{formResult.resultAsArray}"
									element="{renderable}" crop="true"/>
				</f:format.raw>
			</td>
		</f:if>
	</f:for>
	<td class="col-control nowrap">
		<div class="btn-group" role="group">
			<f:link.action action="result" arguments="{uid: formResult.uid}"
				title="{f:translate(key: 'LLL:EXT:form/Resources/Private/Language/Database.xlf:formManager.edit_form')}"
				class="btn btn-default form-record-open">
				<core:icon identifier="actions-document-view" />
			</f:link.action>
			<f:variable name="deleteActionUri"
						value="{f:uri.action(action: 'deleteFormResult', arguments: '{formResult: formResult}')}"/>
			<f:link.action
				action="deleteFormResult"
				arguments="{formResult: formResult}"
				class="btn btn-default t3js-record-delete t3js-modal-trigger"
				additionalAttributes="{
                        'data-title': '{f:translate(key: \'LLL:EXT:form_to_database/Resources/Private/Language/locallang_be.xlf:show.buttons.delete\')}'
                    }"
			>
				<core:icon identifier="actions-delete"/>
			</f:link.action>
		</div>
	</td>
</tr>

</html>
